In [1]:
#Import Libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [51]:
data = pd.read_csv('open_pubs.csv',names = ['fsa_id','name','address','postcode','easting','northing','latitude','longitude','local_authority'])

In [52]:
data.head()

,fsa_id,name,address,postcode,easting,northing,latitude,longitude,local_authority
0,22,Anchor Inn,"Upper Street, Stratford St Mary, COLCHESTER",CO7 6LW,604749,234404,51.970379,0.979340,Babergh
1,36,Ark Bar Restaurant,"Ark Bar And Restaurant, Cattawade Street, Bran...",CO11 1RH,610194,233329,51.958698,1.057832,Babergh
2,74,Black Boy,"The Lady Elizabeth, 7 Market Hill, SUDBURY, Su...",CO10 2EA,587334,241316,52.038595,0.729915,Babergh
3,75,Black Horse,"Lower Street, Stratford St Mary, COLCHESTER",CO7 6JS,622675,-5527598,\N,\N,Babergh
4,76,Black Lion,"Lion Road, Glemsford, SUDBURY",CO10 7RF,622675,-5527598,\N,\N,Babergh

In [53]:
maindf = data[data.latitude != '\\N']

In [54]:
maindf= maindf.astype({'latitude':'float','longitude':'float',})

In [65]:
maindf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50564 entries, 0 to 51330
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   fsa_id           50564 non-null  int64
 1   name             50564 non-null  object
 2   address          50564 non-null  object
 3   postcode         50564 non-null  object
 4   easting          50564 non-null  int64
 5   northing         50564 non-null  int64
 6   latitude         50564 non-null  float64
 7   longitude        50564 non-null  float64
 8   local_authority  50564 non-null  object
dtypes: float64(2), int64(3), object(4)
memory usage: 3.9+ MB

In [63]:
maindf.local_authority.nunique()

360

In [66]:
maindf.to_csv('pubs.csv')

##